{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Misty Boxer</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet"/>
  </head>
  <body>
      <div class="container">
        <div class="column left">
          <img src="https://www.robotlab.com/hubfs/Misty%20enhanced.png" height="50px" width="50px">
          <button>Complete Task</button>
          <button style="background: red">STOP</button>
        </div>
        <div class="column right">
          <h2>Please select: <span id="task">[TASK]</span></h2>
          <select>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
            <option>F</option>
            <option>G</option>
            <option>H</option>
          </select>
          <button style="background: lightgreen">START</button>
        </div>
      </div>
    <!-- <script src="{% static 'web_app/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
  </body>
</html>