{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Misty Boxer</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet"/>
  </head>
  <body>
      <div class="container">
        <div class="column left">
          <img src="https://www.robotlab.com/hubfs/Misty%20enhanced.png" height="50px" width="50px">
          <button onclick="completeTask()">Complete Task</button>
          <button onclick="stop()" style="background: red">STOP</button>
        </div>
        <div class="column right">
          <h2>Please select: <span id="task">5</span></h2>
          <select id="taskSelect">
            <option value="0">Task Options</option>
            <option disabled>1</option>
            <option disabled>2</option>
            <option disabled>3</option>
            <option disabled>4</option>
            <option value="E">5</option>
            <option disabled>6</option>
            <option disabled>7</option>
            <option disabled>8</option>
          </select>
          <button onclick="start()" style="background: lightgreen">START</button>
        </div>
      </div>
    <script src="{% static 'page.js' %}"></script>
  </body>
</html>